.l_menu2 .el-menu-item {
    background: #14171f !important;
}

.l_menu2 .el-submenu .el-submenu__title {
    background-color: #14171f !important;
}

.l_menu2 .el-menu-item:focus, .l_menu2 .el-menu-item:hover {
    background-color: #5281ff !important;
    position: relative;
}

.l_menu2 .el-menu-item:focus:before, .l_menu2 .el-menu-item:hover:before {
    content: "";
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #5281ff;
}

.bcb .el-breadcrumb__inner a, .bcb .el-breadcrumb__inner.is-link {
    color: #b5b9c3;
}

.table_block .el-table .el-table__header-wrapper th {
    background-color: #f8f8f8;
    color: #000;
}

.table_block .el-pagination {
    float: right;
    margin-top: 8px;
}

.breadcrumb_last .is-link {
    color: #000 !important;
    font-weight: 700 !important;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
}

.avatar {
    width: 64px;
    height: 64px;
    display: block;
}

